.total_boxes {
    display:grid;
    border-color: white;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: #216816;
    border: 1px solid rgb(14, 13, 13);
    padding: 5px;
    border-radius: 12px;
    width: 250px;
    height: 75px;
    margin-top: 10px;
    text-align: center; 
    text-align: center;
    vertical-align: middle;
    line-height: 75px;
}

.total_invest_box {
    align-self: end;
}

.net_total_box {
    align-self: start;
}